<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Futurice CV Generator</title>
  </head>
  <body>
    <div class="row column">
      <h1>Futurice CV Generator</h1>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <div>
          <label>Name<input name="name" type="text" value="{{name}}"></label>
          <label>Title<input name="title" type="text" value="{{title}}"></label>
          <label>Keywords (separate by comma)<input name="keywords" type="text" value="{{', '.join(keywords)}}"></label>
          <label>Intro text<textarea rows="8" id="intro-text">{{'\n\n'.join(intro)}}</textarea></label>
          <h3>Experiences</h3>
          <div id="experiences-holder">
            {% for experience in experiences %}
            <label>Title<input type="text" name="title[]" value="{{experience['title']}}"></label>
            <label>Company and Time<input type="text" name="companyAndTime[]" value="{{experience['companyAndTime']}}"></label>
            {% endfor %}
          </div>
          <button class="button small" id="add-experience">Add Experience</button>
          <h3>Educations</h3>
          <div id="educations-holder">
            {% for education in educations %}
            <label>Place<input type="text" name="place[]" value="{{education['place']}}"></label>
            <label>Degree<input type="text" name="degree[]" value="{{education['degree']}}"></label>
            <label>Time<input type="text" name="time[]" value="{{education['time']}}"></label>
            {% endfor %}
          </div>
          <button class="button small" id="add-education">Add Education</button>
          <h3>Social</h3>
          <label>Email<input type="text" name="email" value="{{social['email']}}"></label>
          <label>Twitter<input type="text" name="twitter" value="{{social['twitter']}}"></label>
          <label>LinkedIn<input type="text" name="linkedin" value="{{social['linkedin']}}"></label>
          <h3>Upload image (it hase to be 726x1080)</h3>
          <label for="file-upload" class="button">Upload Image</label>
          <input type="file" id="file-upload" class="show-for-sr">
        </div>
        <button class="button" id="update">Update CV</button>
      </div>

      <div class="small-12 medium-6 columns">
        <img id="preview">
      </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
