<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Futurice CV Generator</title>
  </head>
  <body>
    <div class="row column">
      <h1>Futurice CV Generator</h1>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <div id="data-input">
          <h2>Data input</h2>
          <label>Name<input name="name" type="text" value="{{name}}"></label>
          <label>Title<input name="title" type="text" value="{{title}}"></label>
          <label>Keywords (separate by comma)<input name="keywords" type="text" value="{{', '.join(keywords)}}"></label>
          <label>Intro text<textarea rows="8" id="intro-text">{{'\n\n'.join(intro)}}</textarea></label>
          <h3>Experiences</h3>
          <div id="experiences-holder">
            {% for experience in experiences %}
            <label>Title<input type="text" name="title[]" value="{{experience['title']}}"></label>
            <label>Company and Time<input type="text" name="companyAndTime[]" value="{{experience['companyAndTime']}}"></label>
            {% endfor %}
          </div>
          <button class="button small" id="add-experience">Add Experience</button>
          <h3>Educations</h3>
          <div id="educations-holder">
            {% for education in educations %}
            <label>Place<input type="text" name="place[]" value="{{education['place']}}"></label>
            <label>Degree<input type="text" name="degree[]" value="{{education['degree']}}"></label>
            <label>Time<input type="text" name="time[]" value="{{education['time']}}"></label>
            {% endfor %}
          </div>
          <button class="button small" id="add-education">Add Education</button>
          <h3>Social (email, twitter, linkedin, etc)</h3>
          <div id="social-holder">
            {% for social in socials %}
            <input type="text" name="social[]" value="{{social}}">
            {% endfor %}
          </div>
          <button class="button small" id="add-social">Add Social</button>
          <h3>Upload image (it has to be 726x1080)</h3>
          <label for="file-upload" class="button">Upload Image</label>
          <input type="file" id="file-upload" class="show-for-sr">
        </div>
      </div>

      <div class="small-12 medium-6 columns" data-sticky-container>
        <div data-sticky data-anchor="data-input">
          <h2>Preview</h2>
          <img id="preview">
          <ul class="horizontal menu downloads">
            <li><a id="download-png" class="button">Download PNG</a></li>
            <li><a id="download-pdf" class="button">Download PDF</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
